body{
    background: black;
}
h1{
    color: greenyellow;
    font-family: sans-serif;
    width: 100%; border: 1px solid white;
    text-align: center;
}
.envoltura{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.articulo{
    width: 45%;
    height: 200px;
    border: 1px solid red;
    margin: 2%;
    text-align: center; color: chartreuse;
}
.articulo1{
    width: 45%;
    height: 200px;
    border: 1px solid greenyellow;
    margin: 2%;
    text-align: center; color: chartreuse;
}
@media screen and (min-width: 1000px){
    .articulo{
        width: 23%;
        height: 200px;
        border: 1px solid purple;
        margin: 0.5%;
    }
    .articulo1{
        width: 23%;
        height: 200px;
        border: 1px solid purple;
        margin: 0.5%;
    }
}